#!/bin/bash
#PBS -l nodes=${nodes}:ppn=${ppn}
#PBS -l walltime=${walltime}
#PBS -q ${queue}
#PBS -N espresso-job
#PBS -o stdout
#PBS -e stderr
cd $PBS_O_WORKDIR

source /nv/hp22/amedford6/medford-shared/envs/espresso-5.1.r11289-pybeef

python qn_opt.py 
